name: Flutter CI/CD with Fastlane

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: macos-latest 

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.4'
          flutter-channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      
      - name: Increment build version to odd number
        run: |
          current_version=$(grep -Eo 'version: [0-9]+\.[0-9]+\.[0-9]+\+[0-9]+' pubspec.yaml | sed 's/version: //')
          version_number=$(echo $current_version | cut -d '+' -f1)
          build_number=$(echo $current_version | cut -d '+' -f2)
          
          if [ $(($build_number % 2)) -eq 0 ]; then
            build_number=$((build_number + 1))
          else
            build_number=$((build_number + 2))
          fi
          
          new_version="${version_number}+${build_number}"
          sed -i "" "s/version: .*/version: ${new_version}/" pubspec.yaml
          echo "Updated version to ${new_version} in pubspec.yaml"
