name: Build to AppTester and Testflight
on:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: macos-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.4'

      - name: Get Flutter packages
        run: |
          flutter pub get

      - name: Build AppBundle
        run: |
          flutter build appbundle  

      - name: Build IPA
        run: |
          flutter build ipa --no-codesign  

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Releases
          path: |
            build/app/outputs/bundle/release/app-release.aab  
            build/ios/archive/*.xcarchive 